h1,
h2,
h3,
h4,
h5 {
  font-family: "rokkitt";
}

h1 {
  font-size: 3.5rem;
}

h1 > span {
  font-family: "rokkitt";
  font-size: 4.5rem;
  font-weight: 600;
}

p,
span,
a,
button {
  font-family: "Roboto";
}

#home {
  background-image: url("../images/bg_header.jpg");
  background-size: cover;
}

#about {
  background-image: url("../images/bg_nuage.jpg");
  background-size: cover;
  background-position: center;
}

.bg-opacity {
  background-color: #00aaff55;
}

#history {
  background-image: url("../images/bg_appareil_photo.jpg");
  background-size: cover;
  background-position: center;
}

#photos {
  background-color: #b9b9b9;
}

#contact {
  background-image: url("../images/bg_newsletter.jpg");
}

#contact > div {
  background-color: #0006;
}

.scroll-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

/* Responsive Styling */

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  #home > .content > p,
  #contact>div>div>div,
  .bg-opacity,
  #contact>div>div>div>div>form>input {
    width: 100% !important;
  }

  #contact>div>div>div>div>form>button{
    width: 25% !important;
    font-size: 16px;
  }

  h1 {
    font-size: 3rem;
  }

  h1 > span {
    font-family: "rokkitt";
    font-size: 4rem;
    font-weight: 600;
  }

  #consecutur,
  #velo,
  #logos {
    flex-direction: column;
  }

  #logo {
    justify-content: center;
  }

  #logo>div>img {
    width: 50%;
  }

  footer>div>div{
    flex-direction: column;
  }

  #photos-tablette{
    display: block !important;
  }

  #navette, #san-francisco-bridge{
    display: none !important;
  }

}

@media (max-width: 767px) {

    #contact>div>div>div>div>form>button{
        width: 50% !important;
        font-size: 14px;
      }

    #photos .row{
      flex-direction: column !important;
    }
}
